<!--引入头部布局文件-->
<%- include header.ejs %>

<div id="center">
    <div id="content">
        <div id="content-top">
            <!--错误内容-->
            <h1><%= message %></h1>
            <!--错误码-->
            <h2><%= error.status %></h2>
            <!--输出错误堆栈信息-->
            <pre><%= error.stack %></pre>
        </div>
    </div>
</div>
<!--引入底部布局文件-->
<%- include footer.ejs %>
